* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}

section {
    display: grid;
    grid-template-columns: 320px 1fr;
}

.titulo{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 16px;
}

.email{
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: white;
}

hr{
    width: 20px;
    border-radius: 15px;
    border: 1px solid white;
}

p{
    font-size: 10px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
}

.icons{
    color: white;
}

.column-left {
    background-color: #1F4954;
    max-height: 320px;
}

img {
    object-fit: cover;
    height: 320px;
}

header{
    margin-left: -450px;
}
